@if(ViewBag.correcta == true){
    <p>Felicitaciones, es correcto</p>
}
else{
    <p>MAL, es incorrecto</p>
    <p>La respuesta era "profe tengo una duda de como poner la respuestac correta"</p>
}
<a href='@Url.Action("Juego")'>Jugar</a>